[Desktop Entry]
Comment[en_US]=
Comment=
Exec=java -jar
GenericName[en_US]=
GenericName=
MimeType=application/x-java-archive;
Name[en_US]=java
Name=java
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
